html
  head
    title= 'Modifica Bicicleta - RedBicicletas'
    meta(charset='utf-8')
    
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    
    // Core theme CSS (includes Bootstrap)
    link(href='/stylesheets/style.css' rel='stylesheet')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')

    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')


block content
    br
    br
    .container
        form.inline(method='get' action='/bicicletas')
                                button.link-button(type='submit' class='btn')
                                    = 'Volver'
    
        h1 Modificar Bicicleta

        br
        br
        form(action=`/bicicletas/${bici.code}/update` method='post')
            .form-group.row
                label.col-sm-2.col-form-label(for='code') Código:
                .col-sm-10
                input#id.form-control(type='text' name='code' value=bici.code)
                br
            .form-group.row
                label.col-sm-2.col-form-label(for='color') Color:
                .col-sm-10
                input#color.form-control(type='text' name='color' value=bici.color)
                br
            .form-group.row
                label.col-sm-2.col-form-label(for='modelo') Modelo:
                .col-sm-10
                input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                br
            .form-group.row
                label.col-sm-2.col-form-label(for='lat') Latitud:
                .col-sm-10
                input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                br
            .form-group.row
                label.col-sm-2.col-form-label(for='lng') Longitud:
                .col-sm-10
                input#lng.form-control(type='text' name='lng' value=bici.ubicacion[1])
            br
            br
            input.btn(type='submit' value='OK')