html
  head
    title= 'Registro de Usuarios - RedBicicletas'
    meta(charset='utf-8')
    
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    
    // Core theme CSS (includes Bootstrap)
    link(href='/stylesheets/style.css' rel='stylesheet')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')

    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')



block content
    br
    br
    .container
        h1 Registro de Usuarios

        br
        br
        table
            tr
                td
                form.inline(method='get' action='/usuarios/create')
                                        button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                            = 'Nuevo Usuario'
                td
                a 
                form.inline(method='get' action='/')
                    button.link-button(type='submit' class='btn')
                                            = 'Volver al sitio'


        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Nombre
                    th(scope='col') Email
                    th(scope='col') Verificado
                    th(scope='col')
                    th(scope='col')
            tbody
                each usuario in usuarios
                    tr
                        td(scope='row')
                            = usuario.id
                        td= usuario.nombre
                        td= usuario.email
                        td= usuario.verificado ? 'SI' : 'NO'
                        td
                            form.inline(method='get' action='usuarios/' + usuario.id + '/update')
                                input(type='hidden' name='id' value= usuario.id)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                    = 'Editar'
                        td
                            form.inline(method='post' action='usuarios/' + usuario.id + '/delete')
                                input(type='hidden' name='id' value= usuario.id)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                    = 'Eliminar'